<% layout("./layouts/boilerplate") %>

    <div class="row mt-3">
        <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
        <div class="col-6 offset-3">
            <form action="/users/signup" method="POST" class="needs-validation" novalidate>

                <div class="form-title mb-3">
                    <label for="username" class="form-label mb-0">Username</label>
                    <input type="text" required placeholder="username" class="form-control" id="username" name="username">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid Username
                    </div>
                </div>


                <div class="form-title mb-3">
                    <label for="email" class="form-label mb-0">E-mail</label>
                    <input type="text" required placeholder="email" class="form-control" id="email" name="email">
                    <div class="invalid-feedback">
                        Please enter a valid E-mail
                    </div>
                </div>


                <div class="form-title mb-3">
                    <label for="password" class="form-label mb-0">Password</label>
                    <input type=password" required placeholder="password" class="form-control" id="password" name="password">
                    <div class="invalid-feedback">
                        Please enter a valid Password
                    </div>
                </div>

                <button class="btn btn-success">SignUp</button>


            </form>
        </div>
    </div>